.drawer {
  width: 530px;
  padding: 10px;
  margin-left: 20px;
  .drawerHeader {
    display: flex;
    flex-direction: row;
  }

  .title {
    flex: 1;
  }

  .closeButton {
    position: absolute;
    width: 5px;
    right: 0;
    top: 0;
    color: aquamarine;
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-content: center;
}
